//Colors
$saffron: #F9BF3B;
$porcelain: #ECF0F1;
$white: #fff;
$scorpion: #575757;
$sunglo: #E26A6A;

body{
    background-color: $porcelain;
}

p,h1,h2{
    color: $scorpion;
    font-family: 'Rubik', sans-serif;
}

p{
    font-size: 0.9em;
}

#todo-wrapper{
    margin: 50px auto 40px auto;
    border-radius: 5px;
    background-color: $white;
    width: 80vw;
    padding-bottom: 40px;
}

#input-container{
    background-color: $saffron;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px;
    margin: 0 auto 0 auto;
}

input#todo{
    background-color: darken($saffron, 20%);
    height: 40px;
    width: 200px;
    border: 0px;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 0.8em;
    color: lighten($saffron, 30%);
    margin-bottom: 10px;
}

::-webkit-input-placeholder{
    opacity: 0.3;
    color: #000;
}

:-ms-input-placeholder{
    opacity: 0.3;
    color: #000;
}

::-ms-input-placeholder{
    opacity: 0.3;
    color: #000;
}

::placeholder{
    opacity: 0.3;
    color: #000;
}

input#add-button{
    background-color: $white;
    height: 40px;
    width: 80px;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.8em;
    color: darken($white, 30%);
}

input#add-button:hover{
    background-color: $porcelain;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
    display: none;
}

#output-message-container{
    height: 20px;
    padding-top: 5px;
}

#message{
    color: darken($saffron, 25%);
}

.task-container{
    margin: 10px auto 10px auto;
    min-height: 100px;
    width: 90%;
    border-bottom: 1px dashed $porcelain;
}

#clear-action-container{
    margin: 30px 10px 10px 30px;
}


#complete-ul, #incomplete-ul{
    list-style: none;
    padding-left: 5px; 
    margin-bottom: 20px; 
    word-wrap: break-word;
}

.complete-todo, .incomplete-todo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0 30px;
    line-height: 150%;

    #checkbox{
        margin-top: 4px; 
        -webkit-box-ordinal-group: 1; 
            -ms-flex-order: 0; 
                order: 0;
    }

    p{
        margin: -2px 5px 0 5px;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    #remove-button{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        background-color: $porcelain;
        height: 24px;
        width: 60px;
        border: 0px;
        border-radius: 5px;
        margin: -2px 0 0 10px;
        font-size: 0.8em;
        color: darken($porcelain, 25%);
    }

    #remove-button:hover{
        background-color: $sunglo;
        color: darken($sunglo, 20%);
    }
}

.complete-todo{
 
    p{
        color: darken($porcelain, 20%);
        text-decoration: line-through;  
    }   
}

button#clear-button{
    margin-top: 10px;
    background-color: $white;
    height: 30px;
    width: 90px;
    border: 0px;
    border-radius: 5px;
    border: 2px solid $saffron;
    font-weight: 700;
    font-size: 0.8em;
    color: $saffron;
}

button#clear-button:hover{
    background-color: $sunglo;
    color: darken($sunglo, 20%);
    border: $sunglo;
}

#clearall-text{
    color: darken($white, 25%);
    font-style: italic;
}

/* 
Animation is applied in function removeSingleTodo() in main.js 
The opacity is set to 0 before the animation reaches 100,
to work better with the delayed refresh-function 
*/
@keyframes fadeout{
    0% {opacity: 1;}
    10% {opacity: 0.5;}
    20% {opacity: 0;} 
    100% {opacity: 0;}
}

.fade-out{
    animation: fadeout 1s ease-in;
}