body{
    background-color: #2d2d2d;
}

#todo-wrapper{
    margin: 20px auto 0 auto;
    border-radius: 5px;
    background-color: #fff;
    width: 80vw;
    height: 90vh;
}

#input-container{
    background-color: salmon;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px;
    margin: 0 auto 0 auto;
}

#task-container-complete, #task-container-incomplete{
    width: 90%;
}

#task-container-incomplete, #task-container-complete, #clear-action-container{
    margin: 10px auto 10px auto;
    padding: 10px;
}

#task-container-incomplete{
    border: 1px solid green;
}

#task-container-complete{
    border: 1px solid grey;
}